@import url('https://fonts.googleapis.com/css?family=Noto-Serif');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Noto-serif';
    background-image: url("nu_picture.jpg");
}

img {
    border-radius: 4px;
    width: 100px;
  }

.site-title{
    font-size: 30px;
}

.container{
    margin: 1rem;
    text-align: center;
}

.nav{
    background-color: #4E2A84;
    color: rgb(247, 243, 249);
    font-weight: bold;
    font-family: 'Noto-serif';
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    display: flex;
    gap: 1rem
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li:hover{
    text-decoration: underline;
}

